* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #212529;
  font-family: "Roboto Mono", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  margin: 100px auto;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  padding: 20px;
  animation: fadeIn 0.4s ease-in;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

#display {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: column; */
  align-items: flex-end;
  height: 120px;
  padding: 10px 20px;
  margin-bottom: 30px;
  padding: 10px 30px;
  background-color: #000000;
  border-radius: 15px;
  margin-bottom: 20px;
}

#display-text {
  font-family: "Share Tech Mono", monospace;
  width: 100%;
  text-align: right;
  width: 100%;
  font-size: 42px;
  letter-spacing: 2px;
  color: #f9f9f9;
  word-wrap: break-word;
  overflow: hidden;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0 20px;
  align-items: stretch;
  justify-content: center;
}

.calculator-button {
  width: 60px;
  height: 60px;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.7), 0 8px 10px rgba(0, 0, 0, 0.3);
}


.calculator-button:active {
  transform: translateY(2px);
  box-shadow: 
    inset 0 2px 4px rgba(255, 255, 255, 0.15), /* luz interior */
    inset 0 -1px 1px rgba(0, 0, 0, 0.2);       /* un toque de sombra interna oscura */
  filter: brightness(1.05);
}

.btn-op {
  background-color: #c99c33;
  color: #ffffff;
}

.numbers,
.decimal {
  background-color: #3b3b3b;
  color: #ffffff;
}

.btn-func {
  background-color: #505050;
  color: #dee2e6;
  font-size: 20px;
}

.btn-zero {
  width: 138px;
  border-radius: 999px;
  grid-column: span 2;
  justify-self: start;
}

.calculator-button:hover {
  filter: brightness(1.1);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 600px;
    padding: 50px;
  }

  .calculator-button {
    width: 99px;
    height: 99px;
  }

  .numbers,
  .decimal {
    font-size: 40px;
  }

  .btn-op {
    font-size: 40px;
  }

  .btn-func {
    font-size: 30px;
  }

  .btn-zero {
    width: 220px;
    border-radius: 999px;
    grid-column: span 2;
    justify-self: start;
    margin-left: 1px;
  }
}
